<%- include('partials/header') %>
<div data-overlay class="bg-primary text-light o-hidden position-relative">
  <section class="min-vh-70 o-hidden d-flex flex-column justify-content-center">
    <div class="container">
      <div class="row justify-content-center text-center align-items-center">
        <div class="col-xl-8 col-lg-9 col-md-10 layer-3" data-aos="fade-up" data-aos-delay="500">
          <h1 class="display-3">
            lab_exp
          </h1>
          <div class="mb-4">
            <p class="lead px-xl-5">
              for science
            </p>
          </div>
          <a href="#studies" class="btn btn-lg btn-white mx-1" data-smooth-scroll>Studies</a>
          <a href="#tasks" class="btn btn-lg btn-white mx-1" data-smooth-scroll>Tasks</a>
          <a href="#surveys" class="btn btn-lg btn-white mx-1" data-smooth-scroll>Surveys</a>
        </div>
      </div>
    </div>
  </section>
</div>

<section class="bg-primary-alt" id="studies">
  <div class="container">
    <div class="row justify-content-center text-center mb-6">
      <div class="col-xl-8 col-lg-9">
        <h2 class="display-4 mx-xl-6">Studies</h2>
        <p class="lead">
          Composed of series of tasks.
        </p>
      </div>
    </div>
  </div>
  <div class="arrows-inside highlight-selected mb-6"
    data-flickity='{ "autoPlay": true, "imagesLoaded": true, "wrapAround": true }'>
    <div class="carousel-cell col-lg-4 col-md-5 col-9 px-2 py-3">
      <a href="/delaydiscount" target="_blank">
        <img src="../public/assets/img/studies/delay_discount.png" alt=""
          class="rounded shadow-3d hover-shadow-3d border">
      </a>
    </div>
    <div class="carousel-cell col-lg-4 col-md-5 col-9 px-2 py-3">
      <a href="/symbol-count" target="_blank">
        <img src="../public/assets/img/studies/symbol_counting.png" alt=""
          class="rounded shadow-3d hover-shadow-3d border">
      </a>
    </div>
    <div class="carousel-cell col-lg-4 col-md-5 col-9 px-2 py-3">
      <a href="/stroop" target="_blank">
        <img src="../public/assets/img/studies/stroop.jpg" alt=""
          class="rounded shadow-3d hover-shadow-3d border">
      </a>
    </div>
    <div class="carousel-cell col-lg-4 col-md-5 col-9 px-2 py-3">
      <a href="#" target="_blank">
        <img src="../public/assets/img/studies/mental_math.jpg" alt=""
          class="rounded shadow-3d hover-shadow-3d border">
      </a>
    </div>
  </div>
</section>

<section class="text-center" id="tasks">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-xl-9">
        <h2 class="h1">Tasks</h2>
      </div>
    </div>
  </div>
</section>
<section class="pt-0">
  <div class="container">
    <div class="row" data-aos="fade-up">
      <div class="col-md-6">
        <a class="fade-page" href="/delaydiscount">
          <img src="../public/assets/img/tasks/delay_discount.png"
            class="rounded shadow-3d hover-shadow-3d border mb-3 mb-md-0">
        </a>
      </div>
      <div class="col">
        <div class="row justify-content-center">
          <div class="col-xl-9 col-lg-10">
            <a href="/delaydiscount" class="fade-up">
              <h3 class="h2">Delay Discount</h3>
            </a>
            <p class="lead">
              Choose your preferred reward.
            </p>
            <ul class="list-unstyled my-3">
              <li class="d-flex align-items-center my-2">
                <img class="icon icon-lg" src="../public/assets/img/icons/theme/home/clock.svg" alt="icon" />
                <span class="h6 mb-0 ml-2">3-5 Minutes</span>
              </li>
              <li class="d-flex align-items-center my-2">
                <img class="icon icon-lg" src="../public/assets/img/icons/theme/communication/add-user.svg"
                  alt="icon" />
                <span class="h6 mb-0 ml-2"><%= entries_delaydiscount %> Entries</span>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="pt-0">
  <div class="container">
    <div class="row" data-aos="fade-up">
      <div class="col-md-6">
        <a class="fade-page" href="/symbol-count">
          <img src="../public/assets/img/tasks/symbol_counting.png"
            class="rounded shadow-3d hover-shadow-3d border mb-3 mb-md-0">
        </a>
      </div>
      <div class="col">
        <div class="row justify-content-center">
          <div class="col-xl-9 col-lg-10">
            <a href="/symbol-count" class="fade-up">
              <h3 class="h2">Symbol Counting</h3>
            </a>
            <p class="lead">
              Count the prompted symbols mentally.
            </p>
            <ul class="list-unstyled my-3">
              <li class="d-flex align-items-center my-2">
                <img class="icon icon-lg" src="../public/assets/img/icons/theme/home/clock.svg" alt="icon" />
                <span class="h6 mb-0 ml-2">3-5 Minutes</span>
              </li>
              <li class="d-flex align-items-center my-2">
                <img class="icon icon-lg" src="../public/assets/img/icons/theme/communication/add-user.svg"
                  alt="icon" />
                <span class="h6 mb-0 ml-2"><%= entries_symbolcount %> Entries</span>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="pt-0">
  <div class="container">
    <div class="row" data-aos="fade-up">
      <div class="col-md-6">
        <a class="fade-page" href="/stroop">
          <img src="../public/assets/img/tasks/stroop.jpg"
            class="rounded shadow-3d hover-shadow-3d border mb-3 mb-md-0">
        </a>
      </div>
      <div class="col">
        <div class="row justify-content-center">
          <div class="col-xl-9 col-lg-10">
            <a href="/stroop" class="fade-up">
              <h3 class="h2">Stroop</h3>
            </a>
            <p class="lead">
              Respond to prompted texts with their colours.
            </p>
            <ul class="list-unstyled my-3">
              <li class="d-flex align-items-center my-2">
                <img class="icon icon-lg" src="../public/assets/img/icons/theme/home/clock.svg" alt="icon" />
                <span class="h6 mb-0 ml-2">2-3 Minutes</span>
              </li>
              <li class="d-flex align-items-center my-2">
                <img class="icon icon-lg" src="../public/assets/img/icons/theme/communication/add-user.svg"
                  alt="icon" />
                <span class="h6 mb-0 ml-2"><%= entries_stroop %> Entries</span>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="pt-0">
  <div class="container">
    <div class="row" data-aos="fade-up">
      <div class="col-md-6">
        <a class="fade-page" href="#">
          <img src="../public/assets/img/tasks/mental_math.jpg"
            class="rounded shadow-3d hover-shadow-3d border mb-3 mb-md-0">
        </a>
      </div>
      <div class="col">
        <div class="row justify-content-center">
          <div class="col-xl-9 col-lg-10">
            <a href="#" class="fade-up">
              <h3 class="h2">Mental Math<span class="badge badge-primary ml-2">New</span></h3>
            </a>
            <p class="lead">
              Mental math task.
            </p>
            <ul class="list-unstyled my-3">
              <li class="d-flex align-items-center my-2">
                <img class="icon icon-lg" src="../public/assets/img/icons/theme/home/clock.svg" alt="icon" />
                <span class="h6 mb-0 ml-2">1-2 Minutes</span>
              </li>
              <li class="d-flex align-items-center my-2">
                <img class="icon icon-lg" src="../public/assets/img/icons/theme/communication/add-user.svg"
                  alt="icon" />
                <span class="h6 mb-0 ml-2"><%= entries_mentalmath %> Entries</span>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="bg-primary" id="surveys">
  <div class="container">
    <div class="row text-light mb-4">
      <div class="col">
        <h3 class="h1">Surveys</h3>
      </div>
    </div>
    <div class="row">

      <div class="col-sm-6 col-lg-4" data-aos="fade-up" data-aos-delay="100">
        <a href="/grit-short"
          class="card card-sm card-body flex-row align-items-center fade-page hover-shadow-3d">
          <img class="icon icon-lg
        bg-primary-2" src="../public/assets/img/icons/theme/general/thunder-move.svg" alt="icon" />
          <div class="ml-3">
            <h5 class="mb-0">Grit</h5>
            <span>See how gritty you are.</span>
          </div>
        </a>
      </div>

    </div>
  </div>
</section>

<section>
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-xl-8 col-lg-9">
        <h3 class="h2">Frequently Asked Questions</h3>
        <div class="my-4">
          <div class="card mb-2 card-sm card-body hover-shadow-sm" data-aos="fade-up" data-aos-delay="NaN">
            <div data-target="#panel-1" class="accordion-panel-title" data-toggle="collapse" role="button"
              aria-expanded="false" aria-controls="panel-1">
              <span class="h6 mb-0">1+1=2?</span>
              <img class="icon" src="../public/assets/img/icons/interface/plus.svg" alt="plus interface icon" />
            </div>
            <div class="collapse" id="panel-1">
              <div class="pt-3">
                <p>Yes.</p>

              </div>
            </div>
          </div>
          <div class="card mb-2 card-sm card-body hover-shadow-sm" data-aos="fade-up" data-aos-delay="NaN">
            <div data-target="#panel-2" class="accordion-panel-title" data-toggle="collapse" role="button"
              aria-expanded="false" aria-controls="panel-2">
              <span class="h6 mb-0">1+1=3?</span>
              <img class="icon" src="../public/assets/img/icons/interface/plus.svg" alt="plus interface icon" />
            </div>
            <div class="collapse" id="panel-2">
              <div class="pt-3">
                <p>No.</p>

              </div>
            </div>
          </div>

        </div>
        <span>Still have questions? <a href="#" class="hover-arrow" data-toggle="modal" data-target="#ask-modal">Get
            in
            touch</a>
        </span>
        <div class="modal fade" id="ask-modal" tabindex="-1" role="dialog" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
              <div class="modal-body">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <img class="icon" src="../public/assets/img/icons/interface/cross.svg" alt="cross interface icon" />
                </button>
                <div class="m-3">
                  <div class="text-center my-3">
                    <h4 class="h3 mb-1">Email Us</h4>
                    <p>
                      Please get in touch for any questions you may have.
                    </p>
                  </div>
                  <form action="/forms/smtp.php" data-form-email novalidate>
                    <div class="form-group">
                      <input type="text" class="form-control" name="contact-name" placeholder="Your Name" required>
                    </div>
                    <div class="form-group">
                      <input type="email" class="form-control" name="contact-email" placeholder="Email Address"
                        required>
                    </div>
                    <div class="form-group">
                      <textarea name="contact-box-message" rows="5" class="form-control"
                        placeholder="Type your message here" required></textarea>
                    </div>
                    <div class="d-none alert alert-danger" role="alert" data-error-message>
                      Please fill all fields correctly.
                    </div>
                    <div class="d-none alert alert-success" role="alert" data-success-message>
                      Thanks, a member of our team will be in touch.
                    </div>
                    <button type="submit" class="btn btn-block btn-primary btn-loading" data-loading-text="Sending">
                      <img class="icon" src="../public/assets/img/icons/theme/code/loading.svg" alt="loading icon" />
                      <span>Send</span>
                    </button>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="bg-primary text-light">
  <div class="container">
    <div class="row text-light mb-4">
      <div class="col">
        <h3 class="h1">Site Statistics</h3>
      </div>
    </div>
    <div class="row">

      <div class="col-sm-6 col-lg-4 d-flex mb-4" data-aos="fade-up" data-aos-delay="100">
        <img class="icon icon-md" src="../public/assets/img/icons/theme/communication/group-chat.svg" alt="icon" />
        <div class="ml-3">
          <h5>Total Entries:</h5>
          <div>
            <%= num_entries %>
          </div>
        </div>
      </div>

      <div class="col-sm-6 col-lg-4 d-flex mb-4" data-aos="fade-up" data-aos-delay="200">
        <img class="icon icon-md" src="../public/assets/img/icons/theme/files/pictures-1.svg" alt="icon" />
        <div class="ml-3">
          <h5>Total Studies:</h5>
          <div>
            <%= num_studies %>
          </div>
        </div>
      </div>

      <div class="col-sm-6 col-lg-4 d-flex mb-4" data-aos="fade-up" data-aos-delay="300">
        <img class="icon icon-md" src="../public/assets/img/icons/theme/general/fire.svg" alt="icon" />
        <div class="ml-3">
          <h5>Total Tasks:</h5>
          <div>
            <%= num_tasks %>
          </div>
        </div>
      </div>

      <div class="col-sm-6 col-lg-4 d-flex mb-4" data-aos="fade-up" data-aos-delay="400">
        <img class="icon icon-md" src="../public/assets/img/icons/theme/communication/readed-mail.svg" alt="icon" />
        <div class="ml-3">
          <h5>Total Surveys:</h5>
          <div>
            X
          </div>
        </div>
      </div>

    </div>
  </div>
</section>
<%- include('partials/footer') %>