<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>Anthrope</title>
  <link rel="icon" type="image/ico" href="https://raw.githubusercontent.com/hauselin/lab_exp/master/public/assets/img/favicon.svg">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="../public/assets/css/loaders/loader-typing.css" rel="stylesheet" type="text/css" media="all" />
  <link href="../public/assets/css/theme.css" rel="stylesheet" type="text/css" media="all" />
  <link href="../public/assets/css/custom.css" rel="stylesheet" type="text/css" media="all" />
  <!-- <link rel="preload" as="font" href="../public/assets/fonts/Inter-UI-upright.var.woff2" type="font/woff2"> -->
  <!-- <link rel="preload" as="font" href="../public/assets/fonts/Inter-UI.var.woff2" type="font/woff2"> -->
</head>

<body style="overflow-x: hidden; " data-smooth-scroll-offset="73">
  <div class="loader">
    <div class="loading-animation"></div>
  </div>
  <%- include('partials/menu_bar_internal') %>
  <div data-overlay class="bg-primary text-light o-hidden position-relative">
    <section class="text-center">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-xl-9">
            <h2 class="h1">Studies</h2>
          </div>
        </div>
      </div>
    </section>
  </div>
  <section class="pt-4 bg-primary-alt">
    <div class="container">
      <div class="row">

        <% for(var i = 0; i < studies.length; i++) { %>
        <% var image_link =  "../public/assets/img/studies/" + studies[i].uniquestudyid + ".svg" %>
        <% var study_link =  "/studies/" + studies[i].uniquestudyid + "/" %>

        <div class="col-sm-6 col-lg-4" data-aos="fade-up" data-aos-delay="100">
          <a href=<%=study_link%> class="card card-sm card-body flex-row align-items-center fade-page hover-shadow-3d">
            <img class="icon icon-lg
        bg-primary-2" src=<%=image_link%> alt="icon" />
            <div class="ml-3">
              <h5 class="mb-0"><%=studies[i].name%></h5>
              <span><%=studies[i].description%></span>
            </div>
          </a>
        </div>
        <% } %>


      </div>
    </div>
  </section>

  <%- include('partials/footer') %>