<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>Anthrope</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="../public/assets/css/loaders/loader-typing.css" rel="stylesheet" type="text/css" media="all" />
  <link href="../public/assets/css/theme.css" rel="stylesheet" type="text/css" media="all" />
  <!-- <link rel="preload" as="font" href="../public/assets/fonts/Inter-UI-upright.var.woff2" type="font/woff2"> -->
  <!-- <link rel="preload" as="font" href="../public/assets/fonts/Inter-UI.var.woff2" type="font/woff2"> -->
</head>

<body style="overflow-x: hidden; " data-smooth-scroll-offset="73">
  <div class="loader">
    <div class="loading-animation"></div>
  </div>
  <%- include('partials/menu_bar_internal') %>
  <div data-overlay class="bg-primary text-light o-hidden position-relative">
    <section class="text-center">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-xl-9">
            <h2 class="h1">Surveys</h2>
          </div>
        </div>
      </div>
    </section>
  </div>
  <section class="pt-4 bg-primary-alt">
    <div class="dropdown" style="text-align: center;">
      <button class="btn btn-primary dropdown-toggle" data-toggle="dropdown-grid" type="button" aria-expanded="false"
        aria-haspopup="true">
        <span>View all</span>
        <!-- Arrow icon SVG in dropdown toggle -->
        <svg class="icon" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path
            d="M14.4444 8.41358C14.7776 8.2281 15.1875 8.46907 15.1875 8.85048V15.1495C15.1875 15.5309 14.7776 15.7719 14.4444 15.5864L8.78505 12.4369C8.44258 12.2463 8.44258 11.7537 8.78505 11.5631L14.4444 8.41358Z"
            fill="#212529"></path>
        </svg>
      </button>
      <div class="justify-content-center dropdown-menu row">
        <div class="col-xl-6 col-lg-7 col-md-8" data-dropdown-content>
          <div class="card card-body shadow p-0">
            <h6 class="mb-0 dropdown-content" style="padding: 5px;">Surveys</h6>
            <hr class="m-0">
            <div class="row no-gutters">

              <% for(var i = 0; i < 2; i++) { %>
              <% var study_scroll_link =  "#" + surveys[i].uniquestudyid %>
              <div class="col-md">
                <a href=<%=study_scroll_link%> data-smooth-scroll class="d-flex m-3">
                  <div class="ml-2">
                    <span class="h6 mb-0"><%=surveys[i].name%></span>
                    <div class="text-small text-muted"><%=surveys[i].description%></div>
                  </div>
                </a>
              </div>
              <% } %>

            </div>
            <hr class="m-0">
            <div class="px-3 py-2 d-flex justify-content-between align-items-center">
              <span class="text-small">Click on the task to scoll to that section.</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <% for(var i = 0; i < 2; i++) { %>
  <% var image_link =  "../public/assets/img/surveys/" + surveys[i].uniquestudyid + ".jpg" %>
  <% var study_link =  "/surveys/" + surveys[i].uniquestudyid + "/" %>
  <% var viz_link =  "/surveys/" + surveys[i].uniquestudyid + "/viz" %>
  <section class="pt-0 bg-primary-alt" id=<%=surveys[i].uniquestudyid%>>
    <div class="container">
      <div class="row" data-aos="fade-up">
        <div class="col-md-6">
          <a class="fade-page" href=<%=study_link%>>
            <img align="right" style="width:80%; height: 300px; object-fit: cover; margin-right: 25px;"
              src=<%=image_link%> class="rounded shadow-3d hover-shadow-3d border mb-3 mb-md-0">
          </a>
        </div>
        <div class="col">
          <div class="row justify-content-left">
            <div class="col-xl-9 col-lg-10" style="margin-left: 25px;">
              <a href=<%=study_link%> class="fade-up">
                <h3 class="h2"><%=surveys[i].name%></h3>
              </a>
              <p class="lead">
                <%=surveys[i].description%>
              </p>
              <ul class="list-unstyled my-3">
                <li class="d-flex align-items-center my-2">
                  <img class="icon icon-lg" src="../public/assets/img/icons/theme/home/clock.svg" alt="icon" />
                  <span class="h6 mb-0 ml-2"><%=surveys[i].time%></span>
                </li>
                <li class="d-flex align-items-center my-2">
                  <img class="icon icon-lg" src="../public/assets/img/icons/theme/communication/add-user.svg"
                    alt="icon" />
                  <span class="h6 mb-0 ml-2"><%=entries[surveys[i].uniquestudyid]%> Entries</span>
                </li>
                <li class="d-flex align-items-center my-2">
                  <a class="btn btn-outline-primary" data-smooth-scroll href=<%=viz_link%>>Learn more</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <% } %>

  <%- include('partials/footer') %>