<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>Anthrope</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="../public/assets/css/loaders/loader-typing.css" rel="stylesheet" type="text/css" media="all" />
  <link href="../public/assets/css/theme.css" rel="stylesheet" type="text/css" media="all" />
  <link href="../public/assets/css/custom.css" rel="stylesheet" type="text/css" media="all" />
  <!-- <link rel="preload" as="font" href="../public/assets/fonts/Inter-UI-upright.var.woff2" type="font/woff2"> -->
  <!-- <link rel="preload" as="font" href="../public/assets/fonts/Inter-UI.var.woff2" type="font/woff2"> -->
</head>

<body style="overflow-x: hidden; " data-smooth-scroll-offset="73">
  <div class="loader">
    <div class="loading-animation"></div>
  </div>
  <%- include('partials/menu_bar_internal') %>
  <div data-overlay class="bg-primary text-light o-hidden position-relative">
    <section class="text-center">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-xl-9">
            <h2 class="h1">Surveys</h2>
          </div>
        </div>
      </div>
    </section>
  </div>
  
  <% for(var i = 0; i < 2; i++) { %>
  <% var image_link =  "../public/assets/img/surveys/" + surveys[i].uniquestudyid + ".jpg" %>
  <% var study_link =  "/surveys/" + surveys[i].uniquestudyid + "/" %>
  <% var viz_link =  "/surveys/" + surveys[i].uniquestudyid + "/viz" %>
  <section class="pt-3 pb-3 bg-primary-alt" id=<%=surveys[i].uniquestudyid%>>
    <div class="container">
      <div class="row" data-aos="fade-up">
        <div class="col-md-6">
          <a class="fade-page" href=<%=study_link%>>
            <img align="right" style="width:80%; height: 300px; object-fit: cover; margin-right: 25px;"
              src=<%=image_link%> class="rounded shadow-3d hover-shadow-3d border mb-3 mb-md-0">
          </a>
        </div>
        <div class="col">
          <div class="row justify-content-left">
            <div class="col-xl-9 col-lg-10 pt-2">
              <a href=<%=study_link%> class="fade-up">
                <h5><%=surveys[i].name%></h5>
              </a>
              <p><%=surveys[i].description%></p>
              <ul class="list-unstyled my-1">
                <li class="d-flex align-items-center my-1">
                  <img class="icon icon-md" src="../public/assets/img/icons/theme/home/clock.svg" alt="icon" />
                  <span class="h6 mb-0 ml-1"><%=surveys[i].time%></span>
                </li>
                <li class="d-flex align-items-center my-1">
                  <img class="icon icon-md" src="../public/assets/img/icons/theme/communication/add-user.svg"
                    alt="icon" />
                  <span class="h6 mb-0 ml-1"><%=entries[surveys[i].uniquestudyid]%> Entries</span>
                </li>
                <li class="d-flex align-items-center my-1">
                  <a class="btn btn-outline-primary" data-smooth-scroll href=<%=viz_link%>>Learn more</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <% } %>

  <%- include('partials/footer') %>