<%- include('partials/header') %>
<div data-overlay class="bg-primary text-light o-hidden position-relative">
  <section class="text-center">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-xl-9">
          <h2 class="h1">Tasks</h2>
        </div>
      </div>
    </div>
  </section>
  
</div>
<section class="bg-primary-alt">
  <div class="container">
    <div class="row" data-aos="fade-up">
      <div class="col-md-6">
        <a class="fade-page" href="/tasks/delaydiscount">
          <img align="right" style="width:80%; height: 300px; object-fit: cover; margin-right: 25px;" src="../public/assets/img/tasks/delaydiscount.jpg" class="rounded shadow-3d hover-shadow-3d border mb-3 mb-md-0">
        </a>
      </div>
      <div class="col">
        <div class="row justify-content-left">
          <div class="col-xl-9 col-lg-10" style="margin-left: 25px;">
            <a href="/tasks/delaydiscount" class="fade-up">
              <h3 class="h2">Delay discounting task</h3>
            </a>
            <p class="lead">
              Choose your preferred reward.
            </p>
            <ul class="list-unstyled my-3">
              <li class="d-flex align-items-center my-2">
                <img class="icon icon-lg" src="../public/assets/img/icons/theme/home/clock.svg" alt="icon" />
                <span class="h6 mb-0 ml-2">3-5 Minutes</span>
              </li>
              <li class="d-flex align-items-center my-2">
                <img class="icon icon-lg" src="../public/assets/img/icons/theme/communication/add-user.svg" alt="icon" />
                <span class="h6 mb-0 ml-2"><%= entries_delaydiscount %> Entries</span>
              </li>
              <li class="d-flex align-items-center my-2">
                <a href="/" class="btn btn-secondary" data-smooth-scroll>See Data</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="pt-0 bg-primary-alt">
  <div class="container">
    <div class="row" data-aos="fade-up">
      <div class="col-md-6">
        <a class="fade-page" href="/tasks/symbolcount">
          <img align="right" style="width:80%; height: 300px; object-fit: cover; margin-right: 25px;" src="../public/assets/img/tasks/symbolcount.jpg" class="rounded shadow-3d hover-shadow-3d border mb-3 mb-md-0">
        </a>
      </div>
      <div class="col">
        <div class="row justify-content-left">
          <div class="col-xl-9 col-lg-10" style="margin-left: 25px;">
            <a href="/tasks/symbolcount" class="fade-up">
              <h3 class="h2">Symbol counting task</h3>
            </a>
            <p class="lead">
              Count the prompted symbols mentally.
            </p>
            <ul class="list-unstyled my-3">
              <li class="d-flex align-items-center my-2">
                <img class="icon icon-lg" src="../public/assets/img/icons/theme/home/clock.svg" alt="icon" />
                <span class="h6 mb-0 ml-2">3-5 Minutes</span>
              </li>
              <li class="d-flex align-items-center my-2">
                <img class="icon icon-lg" src="../public/assets/img/icons/theme/communication/add-user.svg" alt="icon" />
                <span class="h6 mb-0 ml-2"><%= entries_symbolcount %> Entries</span>
              </li>
              <li class="d-flex align-items-center my-2">
                <a href="/" class="btn btn-secondary" data-smooth-scroll>See Data</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="pt-0 bg-primary-alt">
  <div class="container">
    <div class="row" data-aos="fade-up">
      <div class="col-md-6">
        <a class="fade-page" href="/tasks/stroop">
          <img align="right" style="width:80%; height: 300px; object-fit: cover; margin-right: 25px;" src="../public/assets/img/tasks/stroop.png" class="rounded shadow-3d hover-shadow-3d border mb-3 mb-md-0">
        </a>
      </div>
      <div class="col">
        <div class="row justify-content-left">
          <div class="col-xl-9 col-lg-10" style="margin-left: 25px;">
            <a href="/tasks/stroop" class="fade-up">
              <h3 class="h2">Stroop cognitive control task</h3>
            </a>
            <p class="lead">
              Respond to prompted texts with their colours.
            </p>
            <ul class="list-unstyled my-3">
              <li class="d-flex align-items-center my-2">
                <img class="icon icon-lg" src="../public/assets/img/icons/theme/home/clock.svg" alt="icon" />
                <span class="h6 mb-0 ml-2">2-3 Minutes</span>
              </li>
              <li class="d-flex align-items-center my-2">
                <img class="icon icon-lg" src="../public/assets/img/icons/theme/communication/add-user.svg" alt="icon" />
                <span class="h6 mb-0 ml-2"><%= entries_stroop %> Entries</span>
              </li>
              <li class="d-flex align-items-center my-2">
                <a href="/" class="btn btn-secondary" data-smooth-scroll>See Data</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="pt-0 bg-primary-alt">
  <div class="container">
    <div class="row" data-aos="fade-up">
      <div class="col-md-6">
        <a class="fade-page" href="#">
          <img align="right" style="width:80%; height: 300px; object-fit: cover; margin-right: 25px;" src="../public/assets/img/tasks/mentalmath.jpg" class="rounded shadow-3d hover-shadow-3d border mb-3 mb-md-0">
        </a>
      </div>
      <div class="col">
        <div class="row justify-content-left">
          <div class="col-xl-9 col-lg-10" style="margin-left: 25px;">
            <a href="#" class="fade-up">
              <h3 class="h2">Mental math task<span class="badge badge-primary ml-2">New</span></h3>
            </a>
            <p class="lead">
              Mental math task.
            </p>
            <ul class="list-unstyled my-3">
              <li class="d-flex align-items-center my-2">
                <img class="icon icon-lg" src="../public/assets/img/icons/theme/home/clock.svg" alt="icon" />
                <span class="h6 mb-0 ml-2">1-2 Minutes</span>
              </li>
              <li class="d-flex align-items-center my-2">
                <img class="icon icon-lg" src="../public/assets/img/icons/theme/communication/add-user.svg" alt="icon" />
                <span class="h6 mb-0 ml-2"><%= entries_mentalmath %> Entries</span>
              </li>
              <li class="d-flex align-items-center my-2">
                <a href="/" class="btn btn-secondary" data-smooth-scroll>See Data</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


<%- include('partials/footer') %>